*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $color-white;
    color: $color-vue-dark;
    font-family: $font-main;
}

h1 {
    font-size: 28px;
    color: $color-white;

    @include sm {
        font-size: 34px;
    }

    @include md {
        font-size: 44px;
    }

    @include lg {
        font-size: 48px;
    }

    @include xlg {
        font-size: 56px;
    }
}

h2 {
    font-size: 22px;
    color: $color-white;

    @include sm {
        font-size: 25px;
    }

    @include md {
        font-size: 29px;
    }

    @include lg {
        font-size: 31px;
    }

    @include xlg {
        font-size: 34px;
    }
}

h3 {
    font-size: 18px;
    line-height: 26px;

    @include sm {
        font-size: 20px;
        line-height: 27px;
    }

    @include md {
        font-size: 23px;
        line-height: 29px;
    }

    @include lg {
        font-size: 24px;
        line-height: 30px;
    }

    @include xlg {
        font-size: 26px;
        line-height: 32px;
    }
}

p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.01em;

    @include sm {
        font-size: 16px;
        line-height: 30px;
    }

    @include md {
        font-size: 17px;
        line-height: 33px;
    }

    @include lg {
        font-size: 17px;
        line-height: 34px;
    }

    @include xlg {
        font-size: 18px;
        line-height: 36px;
    }
}

// Class visually-hidden must be styled manually because system CSS is disabled in theme.info.yml
// Styles copied from Drupals hidden.module.css
.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;

    // Also for focusable class (for accessibility reasons)
    &.focusable {
        &:focus {
            position: static !important;
            clip: auto;
            overflow: visible;
            height: auto;
            width: auto;
        }
    }
}
