.team-members {
    margin: 50px 0;

    .container {
        > div {
            width: 100%;
        }
    }

    .container--large {
        align-items: flex-start;
    }
}

.team-members__headline {
    @include afterline;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: $color-vue-blue-dark;
    text-align: center;
}

.team-members__filters {
    max-width: 25%;
    padding-right: 20px;

    h3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 3px solid $color-vue-green;
        font-weight: 600;
    }
}

.team-members__filters--reset {
    display: inline-block;
    padding: 0 10px;
    border: 2px solid $color-vue-blue-dark;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
}

.team-members__filter-section {
    & + & {
        margin-top: 25px;
    }

    input {
        width: 100%;
        border: 0;
        border-bottom: 3px solid $color-drupal-blue;
        padding: 10px 25px;
    }
}

.team-members__filter {
    padding: 15px 10px;
    color: $color-vue-dark;
    cursor: pointer;

    & + & {
        border-top: 1px solid $color-vue-blue-dark;
    }
}

.team-members__filter--reset {
    font-weight: bold;
}

.team-members__filter--active {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        border-radius: 3px;
        background-color: $color-vue-green;
        transform: translateY(-50%) rotate(35deg);
    }

    &::before {
        top: 50%;
        right: 10px;
        width: 4px;
        height: 16px;
    }

    &::after {
        top: 27px;
        right: 14px;
        height: 4px;
        width: 9px;
    }

}

.team-members__content {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    padding: 50px 0;
}

.team-member {
    display: grid;
    grid-template: 1fr / 1fr;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 50px;
    padding: 0 25px;
}

.team-member__image,
.team-memeber__info {
    grid-column: 1;
    grid-row: 1;
}

.team-member__image {
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.team-memeber__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 15px;
    margin-top: auto;
    background: $gradient-vue-green-drupal-blue-dark;
}

.team-member__name {
    @include afterline;
    color: $color-white;
    font-weight: bold;
    text-align: center;

    &::after {
        width: 80px;
        margin-top: 0;
    }
}

.team-memeber__role {
    display: inline-block;
    margin-top: 10px;
    color: $color-vue-blue-dark;
}
