.container {
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 86vw;

    @include md {
        width: 84vw;
    }

    @include lg {
        width: 78vw;
    }

    @include xlg {
        width: 68vw;
    }
}

.container--large {
    width: 86vw;

    @include lg {
        width: 84vw;
    }

    @include xlg {
        width: 78vw;
    }
}
